/* *************** Reset CSS ↓↓↓ ************** */

:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f7df1e;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Finaliza el reseteo ↑↑↑ */

/* ********************* Menú de Hamburguesa ↓↓↓↓ **************** */

.header {
  position: sticky;
  z-index: 997;
  top: 0;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--second-color);
}

.header h1 {
  margin: 0 auto;
  text-align: center;
}

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
}

.panel {
  overflow-y: auto;
  position: fixed;
  z-index: 888;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: var(--second-modal-color);
  /* Efecto de desplazamiento desde arriba hacia abajo  ↓↓*/
  transition: transform 0.3s ease;
  transform: translate(0, -100%);
}

.panel.is-active {
  transform: translate(0, 0);
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /*Este trabaja sobre Y ↑↑↑*/
  align-items: center;
  /* Este trabaja sobre X ↑↑↑*/
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: bold;
  color: var(--second-color);
  background-color: var(--main-modal-color);
}
/* 
*********************** Para eventos del teclado cap 85 ↓↓↓↓ **********************
*/

.stage {
  display: flex;
  min-height: 50vh;
  background-color: var(--second-color);
}

.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--main-color);
}
/*
*********************** Para eventos del teclado cap 85 ↑↑↑↑ **********************
*/
/*
*********************** Para eventos del teclado cap 87 ↓↓↓↓ **********************
*/

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
/*
*********************** Para eventos del teclado cap 87 ↑↑↑↑↑ **********************
*/
/*
*********************** Para eventos del teclado cap 88 ↓↓↓↓ **********************
*/

.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.5s ease-out;
}

.dark-theme-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color);
}

/*
*********************** Para eventos del teclado cap 88 ↑↑↑↑↑ **********************
*/
/* 
 ****************************************  Detección de la conexión de red ↓↓↓↓↓ --  CAPITULO 93 ***********************************************
*/

.online,
.offline {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #1b5e20;
  color: #fff;
  transition: all 2s ease-in-out;
}

.offline {
  background-color: #b71c1c;
}

/* 
 ****************************************  Detección de la conexión de red ↑↑↑↑↑↑ --  CAPITULO 93 ***********************************************
*/

/* ************************** CAPITULO 96 PARA FILTROS DE BUSQUEDAS ↓↓↓↓↓ *********************************** */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background-color: var(--second-color);
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
}

.card img {
  width: 100%;
  height: auto;
}

.card figcaption {
  padding: 1rem;
}

.filter {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  order: 1; /*Este es para el ordenamiento con grid ---*/
}

#comment:hover {
  display: flex;
  position: static;
  flex-direction: column;
  background-color: #ffb9d6;
  z-index: -1;
  border-radius: 40%;
  transition: all 0.5s ease-in-out;
}

#comment-text {
  font-weight: bold;
  color: #222;
  opacity: 1;
}
/* ************************** FIN CAPITULO 96 PARA FILTROS DE BUSQUEDAS ↑↑↑↑↑ *********************************** */

/* ************************** CAPITULO 98 -- RESPONSIVE SLIDER ↓↓↓↓ *********************************** */

.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 400px; /*Es importante darle una altura definida al contenedor*/
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 50%;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-btns {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
  opacity: 0.2;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
  opacity: 1;
  transition: all 1s ease-in-out;
}

/* ************************** FIN CAPITULO 98 -- RESPONSIVE SLIDER ↑↑↑↑ *********************************** */

/* ************************** CAPITULO 99 --- SCROLL SPY  --- ↓↓↓↓↓↓ *********************************** */

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem auto;
    grid-template-areas:
      "header header"
      "main   panel";
  }

  main {
    grid-area: main;
  }

  .header {
    grid-area: header;
  }

  .panel {
    grid-area: panel;
    align-self: start;
    position: sticky;
    justify-content: flex-start;
    background-color: var(--second-color);
    /* A top 4 rem ya que la cabezera tendrá esa altura.*/
    top: 4rem;
    transform: translate(0, 0);
  }

  /* El menú de hamburguesa se va a ocultar para escritorio. ↓↓*/

  .panel-btn {
    display: none;
  }

  .menu {
    justify-content: start;
    text-align: right;
  }

  .menu a {
    font-size: 1rem;
    padding: 1rem;
  }

  .menu a:hover,
  .menu a.active {
    color: var(--second-color);
    background-color: var(--main-color);
  }

  .scroll-top-btn {
    right: initial;
    left: calc(4.25rem + 1vw);
  }
}
/* ************************** FIN DE CAPITULO 99 --- SCROLL SPY  --- ↑↑↑↑↑↑ *********************************** */
/* **************************************************** CAPITULO 101 --- VALIDACIÓN DE FORMULARIOS ↓↓↓↓↓↓↓↓↓↓ **************************************************** */

.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* el  * signiica de que está tomando todos los selectores
 */
.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}
/* Para evitar que el tamaño del text area se pueda modificar o arreglar en el navegador, se le aplica lo siguiente ↓↓*/

.contact-form textarea {
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* Para estandarizar todo en el formulario (Tipo de letra y tamaño)↓↓ */

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.contact-form *::placeholder {
  color: #000;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}

/* Estos estilos son para usar en el prox cap */

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 900ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-in-out;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* **************************************************** FIN DE CAPITULO 101 --- VALIDACIÓN DE FORMULARIOS ↑↑↑↑↑↑↑↑**************************************************** */
/* **************************************************** CAPITULO 102 --- VALIDACIÓN DE FORMULARIOS --- CONTINUACIÓN ↓↓↓↓↓↓↓↓↓↓ **************************************************** */

/* **************************************************** FIN DE CAPITULO 102 --- VALIDACIÓN DE FORMULARIOS ↑↑↑↑↑↑↑↑**************************************************** */
